<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@1,500&family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-toward-subtle.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/translucent.css" />
    <title>Bard - The best Discord music bot</title>

    <style>
        .designerTag {
            position: fixed;
            bottom: 5px;
            left: 5px;
            color: rgb(0, 255, 0);
            font-size: 9px;
            pointer-events: none;
            user-select: none;
            z-index: 999;
        }
    </style>
</head>
<body>
    <span class="designerTag">Designed by Maciejka</span>

    {{{ body }}}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
</body>
</html>