<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@1,500&family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-toward-subtle.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/translucent.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bard Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <span class="designerTag">Designed by Maciejka</span>

    <div class="mobileCover">
        <h1>Oops...</h1>
        <h3>Sorry, Bard's dashboard is not available on mobile at the moment</h3>
    </div>

    <div class="center">
        <div class="search">
            <input type="text" spellcheck="false">
            <div class="suggestions"></div>
        </div>
        <div class="cover"><img src="/img/logo-nobg.png" alt="logo"></div>
    </div>
    <div class="serverSelectorContainer">
        <div class="serverSelectorWindow">
            <h1>{{selectServer}}</h1>
            <div class="serverList"></div>
        </div>
    </div>
    <div class="lyricsContainer" onmouseover="setLyricsPos('shown');" onmouseout="setLyricsPos('hidden');">
        <div class="title">
            <span>{{lyrics}}</span>
        </div>
        <p class="lyrics"></p>
    </div>
    <div class="pbContainer">
        <div class="playbar">
            <div class="left">
                <p><span class="title" id="currentTrackTitle">Unknown</span><br><span class="author" id="currentTrackAuthor">Unknown</span></p>
            </div>
            <div class="controls">
                <div class="top">
                    <div class="btnscontainer">
                        <div class="playBtnContainer skip" id="backSkip">
                            <img src="/img/prev.svg" alt="back skip">
                        </div>
                        <div class="playBtnContainer" id="pause">
                            <img src="/img/play-black.svg" alt="pause">
                        </div>
                        <div class="playBtnContainer skip" id="forwardSkip">
                            <img src="/img/skip.svg" alt="forward skip">
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <span id="counter1">0:00</span>
                    <custom-slider min="0" max="1000" value-bubble="false"
                        slider-id="progressSlider"></custom-slider>
                    <span id="counter2">0:00</span>
                </div>
    
            </div>
            <div class="right">
                <div class="volumeControls">
                    <!-- <div class="loopControls">
                        <span>Loop: <span id="loopMode">Queue</span></span>
                    </div> -->
                    <div class="volumeIconContainer">
                        <img src="/img/volume.svg" alt="volume">
                    </div>
                    <custom-slider min="0" max="100" value="50" slider-width="5rem"
                        slider-id="volumeSlider"></custom-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="queueFade"><span>{{queue}}</span></div>
    <div class="queueBlock" id="queue">
        
    </div>
    <div class="settings">
        <div class="left">
            <span onclick="openServerChangeWindow()">{{changeServer}}</span>
            <span class="lightRed" onclick="logOut()">{{logOut}}</span>
        </div>
        <div class="right">
            <img src="/img/settings.svg" alt="settings">
        </div>
    </div>
    <div class="channelIndicatorContainer">
        <div class="channelIndicator" title=""><svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="24" height="24" viewBox="0 0 24 24">
            <rect class="eq-bar eq-bar--1" x="4" y="4" width="3.7" height="8" />
            <rect class="eq-bar eq-bar--2" x="10.2" y="4" width="3.7" height="16" />
            <rect class="eq-bar eq-bar--3" x="16.3" y="4" width="3.7" height="11" />
        </svg> <span></span></div>
    </div>
    <div class="themes">
        <span class="title">{{themes}}</span>
        <div class="themeList">
            {{{themeList}}}
        </div>
        
    </div>
    <script src="/js/slider.js"></script>


    <div id="tippyTemplate" style="display: none;">
        <div style="display:flex;gap:10px;">
            <button onclick="addToQueue('[[URL]]')" class="tippyButton addToQueueButton">{{addToQueue}}</button>
            <button onclick="window.open('[[URL]]', '_blank')" class="tippyButton openSourceButton">{{openSource}}</button>
        </div>
    </div>
    <div id="queueTippyTemplate" style="display: none;">
        <div style="display:flex;gap:10px;">
            <button onclick="removeFromQueue('[[ELEM_ID]]')" class="tippyButton removeFromQueueButton">{{removeFromQueue}}</button>
            <button onclick="window.open('[[URL]]', '_blank')" class="tippyButton openSourceButton">{{openSource}}</button>
        </div>
    </div>
    <div id="themeTippyTemplate" style="display: none;">
        <div style="border-radius:15px;height:9rem;width:16rem;padding:0.5rem;box-sizing:border-box;background:linear-gradient(to bottom, [[COLOUR1]], [[COLOUR2]]);">
            <div style="border-radius:100%;width:1.25rem;height:1.25rem;margin:0;background: [[COLOUR3]];"></div>
        </div>
    </div>
</body>
</html>
